[Desktop Entry]
Name=Jupyter Lab
Comment=Run Jupyter Lab
Exec=jupyter-lab
Terminal=true
Type=Application
Icon=notebook
StartupNotify=true
MimeType=application/x-ipynb+json;
Categories=Development;Education
